#inpsearch{
    border: 0px;
    background-color: lightgray;
    padding-left: 5px;
    width: 400px;
}
.search{
    width: 26px;
    height: 26px;
    display: inline;
    background-color: lightgrey;
    margin-left: 10px;
}

.navbar{
    border: 1px solid lightgray;
}
.address{
    color: black;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.card-footer,.card{
    border: 0px;
    background-color: white;
}


.sec2{
    background-image: url('https://images.dsw.com/is/image/DSWShoes/P230893_ft_sandals?impolicy=qlt-medium&imwidth=1400&imdensity=1');
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.but{
    width: 170px;
    height: 40px;
    background-color: white;
    padding: 2px;
    margin-left: 150px;
    border: 0px;
    border-radius: 5px;
    
    
}
   
.but a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.but a:hover{
    text-decoration: underline;
}
 #sec3{
    height: 45vh;
 }

 #sec4{
    
    height: 60vh;
    margin-top: 160px;
 }
 .a4{
    color: black;
    font-weight: 500;
 }

 #sec5{
    height: 60vh;
    margin-top: 220px; 
 }
 #sec6{
    background-image: url('https://images.dsw.com/is/image/DSWShoes/P231062_ft_fall-western?impolicy=qlt-medium&imwidth=1400&imdensity=1');
    height: 85vh;
   width: 90%;
    background-position: center;
    background-size:contain; 
    background-repeat: no-repeat;
    margin-top: 120px;
 }


 .bto{
    width: 250px;
    height: 40px;
    background-color: white;
    padding: 2px;
    
    border: 0px;
    border-radius: 5px;
 }

 .bto a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
 }
 .bto a:hover{
    text-decoration: underline;
 }

 p a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
 }
 
 #inp{
    width: 330px;
    height: 50px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
 }
  #bbt{
    background-color: black;
    color: white;
    height: 50px;
    width: 73px;
    padding: 8px;
    border-radius: 5px;
    margin-left: -7px;
    font-weight: 500;
    border: 1px solid black;
  }

  .last{
    font-size: 11px;
    color: black;
    text-decoration: none;
  }